<h1 class="govuk-heading-m">
    <span class="govuk-visually-hidden">Filter by</span>
    Topic
</h1>
<form action="" method="post">
    <div class="js-nested-facets">
        <div class="govuk-form-group">
            <label class="govuk-label" for="parent-facets">Topic</label>
            <select name="parent-facets" id="parent-facets" class="govuk-select govuk-!-width-full">
                <option value="">All</option>
                <option value="1">Section 3(1) Graphical Representation</option>
                <option value="2">Section 3(1) Descriptiveness / Distinctiveness</option>
                <option value="3">Section 3(2) Shapes</option>
                <option value="4">This one has no subtopics</option>
            </select>
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="child-facets">Subtopic</label>
            <select name="child-facets" id="child-facets"
                    class="govuk-select govuk-!-width-full">
                <option value="">All subtopics</option>
                <option data-parent="1" value="3">Is it a sign?</option>
                <option data-parent="1" value="4">Is it graphically represented?</option>
                <option data-parent="1" value="6">Is it capable of distinguishing?</option>
                <option data-parent="1" value="142">Not Applicable</option>
                <option data-parent="2" value="7">Devoid of character - slogans</option>
                <option data-parent="2" value="8">Devoid of character - shapes / packaging</option>
                <option data-parent="2" value="10">Devoid of character - other unusual mark type</option>
                <option data-parent="2" value="11">Devoid of character - colours / colour combinations</option>
                <option data-parent="2" value="13">Devoid of character - letters / numerals</option>
                <option data-parent="2" value="14">Devoid of character - word marks</option>
                <option data-parent="2" value="15">Devoid of character - other</option>
                <option data-parent="2" value="16">Descriptiveness - geographical signs</option>
                <option data-parent="2" value="17">Descriptiveness - famous names / images</option>
                <option data-parent="2" value="19">Descriptiveness - other characteristic of goods or services
                </option>
                <option data-parent="2" value="20">Descriptiveness - forseeability</option>
                <option data-parent="2" value="21">Customary in the language etc. - customary in the language
                </option>
                <option data-parent="2" value="22">Customary in the language etc. - trade name for goods or
                    services
                </option>
                <option data-parent="2" value="24">Customary in the language etc. - acquired distinctiveness
                </option>
                <option data-parent="2" value="143">Not Applicable</option>
                <option data-parent="3" value="25">Shape resulting from the nature of the goods</option>
                <option data-parent="3" value="27">Shape necessary to obtain a technical result</option>
                <option data-parent="3" value="28">Shape giving substantial value to the goods</option>
                <option data-parent="3" value="144">Not Applicable</option>
            </select>
        </div>
    </div>
    <input type="submit" value="Send" class="govuk-button">
</form>